main{
  .block-views-blockclients-view-block-1 {
    margin: 111px auto 0 auto;
    border-top: 1px solid #ccc;
    max-width: 1315px;
    h2 {
      margin: -19px auto 0 auto;
      width: 188px;
      background-color: #fff;
      display: block;
    }
  }
  .view-clients-view {
    max-width: 1315px;
    margin: 0 auto;
    padding: 103px 0 0 0;
  }
}
