.region-content{
  .node__content{
    margin: 0 auto;
    .field--name-field-errors-tittle{
      border-top: 5px solid #373645;
      border-bottom: 5px solid #6e9bca;
      font-size: 42px;
      margin: 45px auto 0 auto;
      padding: 10px 5px 10px 5px;
    }
  }
}
