
.region-primary-menu{
  max-width: 371px;
  margin: 0 auto;
  .form-mini-box{

  }
  .layout__region--content{
    max-width: 300px;
    margin: 147px 0 -147px -296px;
  }
  p{
    margin-bottom: 10px;
  }
  .field--name-field-inspiration-tittle{
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 3px;
  }
  .block-field-blockblock-contentinspiration-field-inspiration-tittle-two{
    color: #373645;
    font-size: 32px;
  }
  .block-field-blockblock-contentinspiration-field-inspiration-tittle-body{
    color: #6f9ccb;
    font-size: 11px;
  }
}
