.page {
  color: #373737;
}

main {
  padding: 0 10px;
}

.page-title {
  text-align: center;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  overflow-y: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ol, ul {
  margin-top: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

p {
  margin-bottom: 20px;
}

.block-block-content .field--type-text-with-summary p {
  display: flex;
  justify-content: space-between;
  max-width: 97px;
}

#block-homeicon .field--type-text-with-summary p {
  display: flex;
  justify-content: space-between;
  max-width: 97px;
}
#block-homeicon .field--type-text-with-summary p img {
  border-bottom: 7px solid #6a9bca;
  padding-bottom: 30px;
  margin: 50px 30px 0 30px;
}

header {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0 705px 0;
  max-height: 115px;
}
header .region-header {
  display: flex;
  background: #ffffff;
  margin: 0 auto;
  max-width: 1250px;
  max-height: 115px;
}
header .region-header #block-exam-main-menu ul {
  margin: 54px 0 0 0;
  display: flex;
}
header .region-header #block-exam-main-menu ul .menu-item {
  margin: 0 14px;
}
header .region-header #block-exam-main-menu ul .menu-item:first-child {
  margin: 0;
}
header .region-header #block-exam-main-menu ul .menu-item:last-child {
  margin: 0;
}
header .region-header #block-exam-main-menu ul .menu-item a {
  text-decoration: none;
}

#block-exam-branding a img {
  width: 240px;
  height: 115px;
}

#block-socialmediablock {
  display: flex;
  align-items: center;
  padding: 7px 0 0 0;
}
#block-socialmediablock .field--type-text-with-summary {
  max-height: 25px;
}
#block-socialmediablock .field--type-text-with-summary p {
  max-width: 200px;
}
#block-socialmediablock .field--type-text-with-summary p a {
  margin: 0 11px 0 0;
}
#block-socialmediablock .field--type-text-with-summary p a:first-child {
  margin: 0 11px 0 20px;
}
#block-socialmediablock .field--type-text-with-summary p a:last-child {
  margin: 0 10px 0 0;
}

#search-block-form {
  max-height: 115px;
}
#search-block-form .form-search {
  width: 170px;
}
#search-block-form .form-submit, #search-block-form .form-search {
  height: 37px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin: 41px 0 0 0;
  padding: 0;
}
#search-block-form .form-submit {
  height: 39px;
  color: transparent;
  background-image: url("../images/search.png");
  background-size: 41px 37px;
  background-repeat: no-repeat;
  max-width: 40px;
  margin-left: -40px;
}

.region-primary-menu .contextual-region {
  margin: 0 auto;
  max-width: 371px;
}
.region-primary-menu .layout__region--content {
  max-width: 300px;
  margin: 147px 0 -147px -296px;
}
.region-primary-menu p {
  margin-bottom: 10px;
}
.region-primary-menu .field--name-field-inspiration-tittle {
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 3px;
}
.region-primary-menu .block-field-blockblock-contentinspiration-field-inspiration-tittle-two {
  color: #373645;
  font-size: 32px;
}
.region-primary-menu .block-field-blockblock-contentinspiration-field-inspiration-tittle-body {
  color: #6f9ccb;
  font-size: 11px;
}

.region-highlighted {
  margin: 105px auto 100px auto;
  max-width: 1250px;
  border-top: 5px solid #373645;
  border-bottom: 5px solid #6e9bca;
}
.region-highlighted .layout__region--content {
  display: flex;
}
.region-highlighted .block-field-blockblock-contentinspiration-field-inspiration-tittle p {
  margin: 19px 0 0 1px;
  color: #373645;
  font-size: 23px;
}
.region-highlighted .block-field-blockblock-contentinspiration-field-inspiration-tittle-two p {
  margin: 24px 20px 0 11px;
  color: #cccccc;
  font-size: 15px;
  letter-spacing: 3px;
}
.region-highlighted .block-field-blockblock-contentinspiration-field-inspiration-tittle-body p {
  font-size: 12px;
  padding: 10px;
  background-color: #6e9bca;
  margin: 17px 0 16px 0;
  color: #ffffff;
}

main {
  text-align: center;
}
main .region-content .block-views-blockservices-view-block-1 {
  max-width: 1215px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
}
main .region-content .block-views-blockservices-view-block-1 h2 {
  margin: -19px auto 99px auto;
  width: 176px;
  background-color: #fff;
}
main .region-content .field--name-field-services-body {
  font-size: 13px;
  color: #cccccc;
}
main .region-content .field--name-field-services-tittle {
  font-size: 20px;
  margin: 0 0 20px 0;
}
main .region-content .view-content {
  display: flex;
  justify-content: center;
}
main .region-content .view-content .field--name-field-services-read-more {
  max-width: 99px;
  max-height: 30px;
  margin: 30px auto 0 auto;
  padding: 10px;
  font-size: 12px;
  background-color: #6e9bca;
  color: #ffffff;
}
main .region-content .view-content .views-row {
  margin: 0 65px 0 0;
}
main .region-content .view-content .views-row:last-child {
  margin: 0;
}
main .region-content .view-content .views-row img {
  margin: 0 0 40px 0;
}
main .region-content .view-content:last-child {
  margin: 0;
}

.node--services-item .field--name-field-services-image {
  max-height: 122px;
  margin: 0 0 40px 0;
}

main .block-views-blockproject-view-block-1 {
  margin: 111px auto 0 auto;
  border-top: 1px solid #ccc;
}
main .block-views-blockproject-view-block-1 .view-content .field--name-field-services-read-more {
  background-color: #373645;
}
main .block-views-blockproject-view-block-1 h2 {
  margin: -19px auto 0 auto;
  width: 188px;
  background-color: #fff;
  display: block;
}
main .block-views-blockproject-view-block-1 .node__content {
  background-color: #fff;
}
main .block-views-blockproject-view-block-1 .pager {
  padding: 55px 0 165px 0;
}
main .block-views-blockproject-view-block-1 .pager .is-active a {
  border-radius: 50%;
  background-color: #dddcdd;
  font-weight: bold;
  padding: 4px 8px;
}
main .view-id-project_view {
  max-width: 1215px;
  margin: 0 auto;
  padding: 103px 0 0 0;
}
main .view-id-project_view .node__content {
  border-bottom: 1px solid #363745;
  padding: 0 0 12px 0;
}

main .block-views-blockclients-view-block-1 {
  margin: 111px auto 0 auto;
  border-top: 1px solid #ccc;
  max-width: 1315px;
}
main .block-views-blockclients-view-block-1 h2 {
  margin: -19px auto 0 auto;
  width: 188px;
  background-color: #fff;
  display: block;
}
main .view-clients-view {
  max-width: 1315px;
  margin: 0 auto;
  padding: 103px 0 0 0;
}

main .block-views-blockteam-members-view-block-1 {
  margin: 111px auto 0 auto;
  border-top: 1px solid #ccc;
  max-width: 1215px;
}
main .block-views-blockteam-members-view-block-1 .view-content .views-row img {
  margin: 0 10px 0 0;
}
main .block-views-blockteam-members-view-block-1 .view-content .field--name-field-services-read-more {
  background-color: #373645;
}
main .block-views-blockteam-members-view-block-1 .field--type-text-with-summary {
  margin: 26px 0 0 0;
  max-width: 146px;
  max-height: 2px;
}
main .block-views-blockteam-members-view-block-1 h2 {
  margin: -19px auto 0 auto;
  width: 188px;
  background-color: #fff;
  display: block;
}
main .view-team-members-view {
  max-width: 1215px;
  margin: 0 auto;
  padding: 103px 0 0 0;
}
main .flag-my-like .use-ajax {
  margin: 0 9px 0 68px;
}

.node--article .node__content {
  margin: 60px auto 20px auto;
  max-width: 1215px;
}
.node--article .node__content .field--type-text-with-summary {
  padding: 20px;
  border-top: 5px solid #373645;
  border-bottom: 5px solid #6e9bca;
}

.view-services-page, .view-projects-page, .view-teams-page, .view-clients-page {
  margin: 60px auto 20px auto;
  border-top: 5px solid #373645;
  border-bottom: 5px solid #6e9bca;
}
.view-services-page .view-content, .view-projects-page .view-content, .view-teams-page .view-content, .view-clients-page .view-content {
  display: flex;
  text-transform: uppercase;
}
.view-services-page .view-content a, .view-projects-page .view-content a, .view-teams-page .view-content a, .view-clients-page .view-content a {
  font-weight: bold;
  font-size: 32px;
  color: #0c97ed;
}

main .main-content .region-content .node--news-item- .node__content {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #373645;
  width: 100%;
  max-height: 200px;
  margin: 190px 0 0 0;
}
footer .region-footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
}
footer .region-footer a {
  margin: 0 11px 0 0;
}
footer .region-footer a:first-child {
  margin: 0 11px 0 20px;
}
footer .region-footer a:last-child {
  margin: 0 10px 0 0;
}
footer .region-footer .block-block-content {
  display: flex;
  align-items: center;
}
footer .region-footer .block-block-content .field--type-text-with-summary {
  max-height: 25px;
}
footer .region-footer .block-block-content .field--type-text-with-summary p {
  max-width: 200px;
}

@media (max-width: 1400px) {
  header {
    background-size: contain;
  }
}
.region-content .node__content {
  margin: 0 auto;
}
.region-content .node__content .field--name-field-errors-tittle {
  border-top: 5px solid #373645;
  border-bottom: 5px solid #6e9bca;
  font-size: 42px;
  margin: 45px auto 0 auto;
  padding: 10px 5px 10px 5px;
}

.gradient-box {
  width: 100%;
  background: repeating-linear-gradient(-60deg, #dbdbdb 0, #dbdbdb 1px, transparent 1px, transparent 5px);
}

.form-mini-box {
  display: flex;
  flex-direction: row;
  max-width: 1215px;
}

a {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=style.css.map */
