//.node--my-contact-form{
.form-mini-box{
  flex-direction: row;
  max-width: 1020px;
  margin: 0 auto;
  .region-content{
    .search-form{
      margin: 40px auto 0 auto;
    }
  }
  .form-item{
    #edit-name,#edit-email,#edit-tel{
      max-width: 460px;
      max-height: 52px;
      padding: 15px 0 15px 15px;
    }
    #edit-subject{
      max-width: 460px;
      max-height:200px;
      padding: 22px 0 156px 15px;
    }
  }
}
#edit-actions-submit{
  max-width: 190px;
  max-height: 58px;
  background-color: #e03114;
  color: #fff;
  border-top: 2px solid #ff7a57;
  border-right: 1px solid #ad4431;
  border-left: 1px solid #ad4431;
  border-bottom: 1px solid #ad4431;
  border-radius: 5px;
  padding: 19px 36px 22px 36px;
  font-size: 15px;
  font-weight: bold;
}
.node__submitted{
  display: none;
}
.webform-submission-contact-form{
  float: left;
  .webform-actions{
    float: left;
  }
}
.field--name-field-contact-place{
  float: left;
  text-align: initial;
  padding: 10px 10px 48px 21px;
}
iframe{
  margin: 0 50px 0 0;
}
.block-page-title-block{
  span{
    color: #353535;
    display: block;
    padding: 60px 0 16px 0;
    border-bottom: 4px solid #b7b7b7;
    max-width: 260px;
    margin: 0 auto;
  }
}
